@Model giftList.ViewModels.RandomGiftViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Wishers.Count > 0 ? "popular" : null;
}

<h2 class=" @className">@Model.Gift.Name</h2>
@if (Model.Wishers.Count == 0)
{
    <p>Nobady hasn't wish for it yet. be The First!</p>
}
else
{
    <u>
        @foreach (var wisher in Model.Wishers)
        {
            <li>@wisher.Name</li>
        }
    </u>
}


